@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    font-size: 15px;
    display: grid;
    grid-template-areas: "left" "right" ;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;}

.left {
  grid-area:left;
}

.right {
  grid-area:right;
}



    .container{
        display: flex;
        flex-direction: row;

    }
    .btn{  
        cursor: pointer;
        background-color: red;
        padding: 2em 2em;
        border: none;
        height: 1em;
        color: #fff;
        align-items: center;
        width: 26em;}
    .right{
        height: 351px;
        margin: 7em 1em;
       
        width: 30%;

        display: flex;
        flex-direction: column;
        
        padding: 2em -22em;
    }
    .left{
     
        margin: 2em 2em;
        width: 70%;
     
        display: flex;
    flex-direction: column;}


    .one{   
       
        display: flex;
        flex-direction: column;
        border: 1 solid #000;
       
        border: 1px solid;


        margin: 1em 2em;
border: 1px solid;}
.two{
    

}
.cc{display: flex;
flex-direction: row;
direction: rtl;

margin: 1em -20em;
gap: 32px;}

.flxe{display: flex;
  
flex-direction: row;}
.con2 img {
 position: absolute;
  /* margin: 0em 2em; */
  width: 13px;
  /* margin-inline-end: 8px; */
  height: 12px;
  /* margin-top: 0em; */
  top: 250px;
  right: 72px;
}
.price {
  color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}






.con2{  
  display: flex;
  flex-direction: row;
  margin: 0em 2em;}
.con1{display: flex;
    flex-direction: row;
}
.con3{display: flex;
    flex-direction: row;}
    .subcon31{  display: flex;
      flex-direction: column;
      background-color: #fff9eb;
      border-inline-start: #fdd214 3px solid;
      margin-block: 10px;
      padding-inline-start: 10px;
      padding-block: 6px;
      font-size: 0.7rem;
      margin-inline-start: 60px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      width: 57%;}



    .subcon32{    position: absolute;
      margin: 2em 54em;}

.subcon1{      display: flex;
  align-items: flex-start;
  position: relative;}
.subcon2{
  display: flex;
  flex-direction: row;
  position: absolute;
    margin: 1em 56em;   
  }
  .one .con1 .subcon1 img{width: 35px;
    margin-inline-end: 13px;
    margin: 1em 1em;}
    .one .con1 .subcon1 p{position: absolute;
      font-size: 0.6rem;
      bottom:  2px;
      left:35px;
      font-style: italic;}
      .one .con1 .subcon1 span{  margin: 0;
        font-weight: bold;
        margin-top: 19px;}
    
    

  .cart-head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
   
  }
 .re1{
    color: red;
    font-size: .7rem;

    margin: 2em 7em;

  }

  .re2{    color: red;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0em -3em;}


.subcon3{background-color: blue;
    height: 25px;
    width: 333px;
    margin: 2em 1em;}
.subcon4{    position: absolute;
    margin: -4em 66em;}
    .second{    position: absolute;
      
    margin: 13em 1em;
    }
    .subfirst1{    margin: 1em 2em;
        position: absolute;}
    .subfirst2{    margin: 1em 23em;
        position: absolute;}
    .first{display: flex;
    flex-direction: row;}


    
    #progress{
        position: absolute;
  height: 100%;
width: 120px;
background: red;
transition: 1s;}

#progress::after{

  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #c4c2bf;
}

footer {
  color: #a3a3a3;
}
footer ul {
  width: 17%;
}
footer .upper-part {
  position: absolute;
    width: 100%;
   bottom: -273em;
    background-color: #333;
    padding: 21px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;}
footer li {
  padding-top: 8px;
}
footer a {
  color: #a3a3a3;
  font-size: 0.9rem;
}
footer h3 {
  margin: 0;
  border-bottom: 1px solid #424242;
}
footer .posts {
  margin-block: 1rem;
  width: 22%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .posts .contact-us {
  /* position: absolute;
  bottom: 30px;
  width: 100%; */
}
.contact-us img {
  margin-top: 6px;
  width: 30px;
}
footer .posts form {
  margin-top: 10px;
  background-color: #484848;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="search"] {
  padding: 8px;
  width: 100%;
  border: none;
  background-color: #eff2f7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="submit"] {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .call-us {
  color: white;
}
footer .lower-part {
  position: absolute;
 bottom: -325em;
  width: 100%;
  direction: ltr;
  font-size: 0.8rem;
  padding: 15px 35px 30px 0;
  padding-left: 35px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .lower-part .pay-methods {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 0em 75em;
}
footer .lower-part .img {
  width: 60px;
}
footer .lower-part img {
  max-width: 100%;
}
footer .white-card {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


    #form1{}
    #form2{left: 450px;}
    #form3{left: 450px;}



    .half{position: fixed;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); 
    }
    .container11{direction: ltr;
        background-position: center;
        background-size: cover;
      display:none;
overflow: hidden;
      width: 360px;
      height: 400px;
      /*margin: 8% auto;*/
      margin: 18em -69em;
      
      background: #fff;
      border-radius: 5px;
      position: relative;
    }
    
    h3{text-align: center;
  margin-bottom: 40px;
color: #777;}
.container11 form{width: 280px;
position: absolute;
top: 100px;
left: 40px;
transition: 0.5s;
}
form input{width: 100%;
padding: 10px 5px;
border: 0;
border-bottom: 1px solid #999;
outline: none;
background: transparent;}
form button{
  width: 110px;
height: 35px;
margin-top: 1.5em;
cursor: pointer;
color: #fff;
border: 0;
outline: none;
background-color: tomato;}
.step-row{

  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
.step-col{width: 120px;
text-align: center;
color: #333;
position: relative;}
/*rite div*/
.sect {
  height: 21em;
  margin:0em 2em;
  /* min-height: 98px; */
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.sect .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sect .total p {
  font-weight: bold;
  font-size: 0.8rem;
}
.sect .price {
  color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sect .price p {
  margin: 0;
}
.sect .price p:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}
.sect .price p:last-child {
  margin-bottom: 6px;
  font-size: 0.6rem;
}

.sect .sect-bottom p {
  font-size: 0.6rem;
}
.sect .sect-bottom .finish-shopping {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #d6060e;
  color: white;
  font-weight: bold;
  transition: 0.5s;
  padding: 8px;
  margin-top: 10px;
  border-radius: 3px;

}
.logIn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 43%;
  margin: auto;
  transform: translateY(15%);
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
  position: absolute;
  left: 30%;
  z-index: 111;
}
.logIn > button {
  width: 25px;
  height: 25px;
  background-color: #d4050c5e;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  top: 3px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.logIn > button:hover {
  background-color: #d4050b;
}
.logIn img {
  max-width: 100%;
}

h2 {
  box-shadow: 0px 12px 3px -13px black;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
input[type="text"],
input[type="password"] {
  background-color: #eff2f7;
  border: none;
  margin-bottom: 5px;
  width: 73%;
  padding: 7px;
  border-radius: 3px;
  font-size: 1.3rem;
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  outline: none;
}
.password {
  position: relative;
  width: 100%
}
.forgot {
  text-decoration: none;
  color: #3e65a2;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 16%;
}
.logIn input[type="submit"] {
  background-color: #d4050b;
  color: white;
  border: none;
  padding: 8px 0;
  border-radius: 3px;
  font-family: "Tajawal", sans-serif;
  width: 73%;
  transition: 0.5s;
}
 .logIn input[type="submit"]:hover {
  background-color: #5c0005;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  position: absolute;
  top: 0px;
  right: 3px;
  font-family: "Tajawal", sans-serif;
  font-size: 0.7rem;
}
.create-account {
  margin-top: 30px;
}
.create-account button {
  border: none;
  padding: 10px 50px;
  background: white;
  box-shadow: 0px 5px 10px 1px rgb(0 0 0 / 20%);
  border-radius: 3px;
  font-family: "Tajawal";
  transition: 0.5s;
  cursor: pointer;
}
.create-account button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 0.3rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.704);
  transition: 0.5s;
  z-index: 11;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* #show-dialog {
  position: absolute;
  z-index: 111;
} */
.hide {
  display: none;
}
p.login {
  font-size: 0.9rem;
  
  margin-right: 7em;
}
p.login img {
  width: 11px;
  position: relative;
  top: 2px;
}

@media screen and (max-width: 800px) {
  .container{
    display: flex;
    flex-direction: column;

}
.left {
  
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right {
  height: 351px;
  /* margin: 7em 50em; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em -22em;
}

.subcon2{
  display: flex;
  flex-direction: row;
  top: 10em;
    /* font-size: 2em; */
    left: -4em;
  margin: 0;
  }
  .subcon32{   margin: 0; 
    top: 15em;
    /* font-size: 2em; */
    left: 2em;
   }
   .re2{color: red;
    font-size: .7rem;
    font-weight: bold;
    margin: 0em -6em;}

    .re1{color: red;
      font-size: .5rem;
      margin: 1em 8em;}
      
  .cart-head {
  margin-right: 1em;
   
  }
}